* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Giving background color, font, and padding to the header*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Shows the name of the company in the top left corder of the webpage */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Gives a grey color to stand out of the rest of the company name in the header */
span {
    color: #d9dcd6;
}

/* Provides structure for the links so that are side by side in the header */
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

/* Allows links in nav to be in rows */
li {
    display: inline-block;
    margin-left: 25px;
}

/* Giving color to links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Providing font for all three paragraphs in each article */
p {
    font-size: 16px;
}

/* Showing the main image of what looks to be employees at Horiseon */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Place image left of paragraph */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Places image right of paragraph */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Provides structure for the three articles inside the section */
section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Provides structure for the aside */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Gives structure and color of the font to each benefit div in the aside */
.eachbenefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Gives place to the header tag of each benefit div in the aside */
.benefitstitle {
    margin-bottom: 10px;
    text-align: center;
}

/* Gives a position to the icon of each benefit div in the aside */
.eachbenefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* provides the font, font color, size, and structure of the search engine optimization article */
.mainarticles {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Providing height of image */
.mainarticles img {
    max-height: 200px;
}

/* Providing size and position of headers for each article */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* unique styling for footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* separate font for final message */
footer h2 {
    font-size: 20px;
}